NODE_ENV=development

# Shut up dot env!
DOTENV_CONFIG_QUIET=true

# Airbrake config
AIRBRAKE_HOST=https://my-errbit-instance.com
AIRBRAKE_KEY=longvaluefullofnumbersandlettersinlowercase
ENVIRONMENT=dev

# Database config
DEFAULT_USER_PASSWORD=P@55word
POSTGRES_DB=wabs
POSTGRES_DB_TEST=wabs_system_test
POSTGRES_HOST=db
POSTGRES_PASSWORD=password12345
POSTGRES_PORT=5432
POSTGRES_USER=myuser

# Feature flags config
ENABLE_PARTY_MODE=true
ENABLE_WIDGETS=true

# Hapi config
PORT=3001

# Log config
LOG_ASSET_REQUESTS=false
LOG_IN_TEST=false

# Notify config
ALERT_EMAIL_ADDRESSES=admin-internal@wrls.gov.uk
GOV_UK_NOTIFY_API_KEY=my_test_key-longvaluefullofnumbersandlettersinlowercase
GOV_UK_NOTIFY_AUTH_TOKEN=longvaluefullofnumbersandlettersinlowercase
GOV_UK_NOTIFY_DAYS_OF_RETENTION=90
GOV_UK_NOTIFY_DELAY=30
GOV_UK_NOTIFY_RATE_LIMIT_PAUSE=90000
GOV_UK_NOTIFY_REPLY_TO=notify@test.gov.uk
GOV_UK_NOTIFY_TIMEOUT=10000
GOV_UK_NOTIFY_URL=https://api.notifications.service.gov.uk
NOTIFICATIONS_BATCH_SIZE=10000

# Server config
EXTERNAL_DOMAIN=http://localhost:3001
http_proxy=http://myproxy:8080
INTERNAL_DOMAIN=http://localhost:3002
REQUEST_TIMEOUT=5000

# Yar config
COOKIE_SECRET=longvaluefullofnumbersandlettersinlowercase
SESSION_NAME=wrls-external
